* {
  box-sizing: border-box;
}

html {
  background-color: #00283b;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  padding-top: 6vh;
  position: relative;
}

body::after {
  content: "";
  background-image: url("../img/bg1.png");
  background-repeat: repeat;
  background-attachment: fixed;
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -100;
}

main::after {
  content: "";
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -90;
}

main h1 {
  color: #f5d12f;
  font-size: 5vh;
  text-align: center;
}

@keyframes pulse1 {
  0% {
    box-shadow: 0 0 0 0 #f8961e;
  }
  100% {
    box-shadow: 0 0 0 2em #f8961e00;
  }
}

@keyframes pulse2 {
  0% {
    box-shadow: 0 0 0 0 #5f86e2;
  }
  100% {
    box-shadow: 0 0 0 2em #5f86e200;
  }
}

a.button {
  border: none;
  color: white;
  display: block;
  font-size: 32px;
  cursor: pointer;
  margin: 5vh 0;
  outline: none;
  text-align: center;
  line-height: 8vh;
  height: 8vh;
  width: 30vw;
  transition: 0.5s;
}

.content a.button {
  background-color: #f8961e;
}

.content a.button:hover {
  background-color: #5f86e2;
  animation: pulse1 0.5s;
}

/* Navigation */

nav {
  /* background-color: #4363ae; */
  background-color: #5f86e2;
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.5);
  display: flex;
  height: 6vh;
  line-height: 6vh;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 9000;
}

#logo {
  display: inline-block;
  width: 20%;
  text-align: center;
  position: relative;
}

#logo img {
  max-width: 15vh;
  height: 15vh;
  position: absolute;
  top: -0.5em;
  left: 2em;
}

nav ul {
  padding: 0;
  width: 60%;
  text-align: center;
  margin: 0;
  display: flex;
  justify-content: space-between;
}

ul,
li {
  display: inline-block;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

nav a {
  color: white;
  font-size: 2.5vh;
  text-shadow: rgba(0, 0, 0, 0.3) 1px 2px;
}

/* Header */

header {
  padding-bottom: 6vh;
}

header * {
  margin: 0 auto;
  text-align: center;
}

header {
  color: #f5d12f;
  font-family: "Russo One", sans-serif;
  text-align: center;
}

#title textPath {
  font-family: "Russo One", sans-serif;
  fill: #f5d12f;
  font-size: 2.5em;
  text-shadow: rgba(255, 255, 255, 0.15) 10px 10px 0px;
  /* padding: 50px 0 100px 0; */
}

strong {
  color: #fb3436;
  font-size: 3vh;
}

#subtitle {
  color: #fb3436;
  font-size: 5vh;
  letter-spacing: 6px;
  margin-top: 5vh;
  text-shadow: rgba(255, 255, 255, 0.15) 2px 2px 0px;
}

h3 {
  letter-spacing: 3px;
  padding: 3vh 0;
  font-size: 3vh;
}

@keyframes rotateImg {
  0% {
    transform: translateX(-200%) rotate(0);
  }
  100% {
    transform: translateX(0) rotate(360deg);
  }
}

@keyframes floatImg {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}

#hero-container {
  height: 60vh;
}

#hero-img {
  animation: floatImg 2s infinite linear;
  background: url("../img/heroes.png");
  /* background-position-x: -38px; */
  background-size: contain;
  background-repeat: no-repeat;
  width: 80vh;
  height: 80vh;
  margin-top: -16vh;
}

path {
  fill: transparent;
}

#title {
  height: 25vh;
  overflow: hidden;
}

#title svg {
  width: 80vh;
}

/* Sections */

section {
  padding: 8vh 0;
  position: relative;
  background-image: url("../img/bg_transparent.png");
  background-repeat: repeat;
  background-attachment: fixed;
}

section:not(:last-child)::after {
  content: "";
  background-repeat: no-repeat;
  opacity: 1;
  position: absolute;
  z-index: 1;
  bottom: -20vh;
  width: 40vh;
  height: 40vh;
  background-size: 40vh 40vh;
}

.content {
  color: black;
  padding: 5vh;
  font-size: 2vh;
  line-height: 1.5;
  margin: auto;
  width: 75vw;
  position: relative;
  z-index: 1000;
}

.content h2 {
  font-size: 3vh;
  font-weight: 600;
  letter-spacing: 1px;
  text-align: center;
  text-transform: uppercase;
}

.content em {
  display: block;
  text-align: justify;
}

.content.layer {
  background-color: #fffc;
}

section p {
  font-weight: 300;
  margin-bottom: 3vh;
  text-align: justify;
}

.layer {
  background-color: #fff5;
  border-radius: 20px;
  padding: 20px 50px;
}

#game .layer {
  border-radius: 20px;
}

form {
  display: flex;
  justify-content: space-between;
}

input[type="email"] {
  border: none;
  color: #666;
  outline: none;
  font-size: 3vh;
  padding: 5px 10px;
  height: 5vh;
  width: 70%;
}

/* Idea */

#method {
  background-color: #f9c74f;
  color: white;
}

#method::after {
  left: 0;
  background-image: url("../img/planet1_big.png");
}

#progress {
  background-color: #90be6d;
  color: white;
}

#progress::after {
  right: 0;
  background-image: url("../img/planet2_big.png");
  background-position: center;
}

#subscribe {
  background-color: #fff8;
  border-radius: 20px;
  margin: 5vh 0;
  padding: 3vh;
}

#subscribe form {
  text-align: center;
  margin: 3vh 0;
}

#subscribe a.button {
  background-color: #5f86e2;
  line-height: 5vh;
  margin: 0;
  width: 25%;
  height: 5vh;
}

#subscribe a.button:hover {
  background-color: #f8961e;
  animation: pulse2 0.5s;
}

#game {
  padding: 0;
}

#about-us {
  background-color: #f8961e;
  color: white;
}

.card {
  margin-bottom: 5vh;
}

.card img {
  width: 40%;
  float: left;
  margin-right: 2vw;
}

.card a {
  display: block;
  color: #5f86e2;
  cursor: pointer;
  text-decoration: underline;
}

.card a:hover {
  color: white;
}

.about p:last-child {
  float: left;
}

.quote {
  font-size: 4vh;
  font-weight: 600;
}

.about .quote:first-child {
  margin-right: 1vw;
}

.about .quote:last-child {
  margin-left: 1vw;
}

#for-parents {
  text-align: justify;
}

#about-us::after {
  left: 0;
  background-image: url("../img/planet3.png");
}

#contact {
  background-color: #f94144;
}

#contact-items {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-item {
  color: white;
  display: flex;
  font-weight: 600;
  line-height: 5vh;
  margin: 3vh 0;
  width: 22vw;
}

.contact-item img {
  margin-right: 1.5vw;
  width: 5vh;
  height: 5vh;
}

/* Footer */
footer {
  height: 50px;
}

/* Flying boy */

#flying-boy {
  position: fixed;
  top: 50%;
  left: 2.5em;
  animation: floatImg 2s infinite linear;
  background: url("../img/hero2.png");
  background-size: contain;
  background-repeat: no-repeat;
  opacity: 1;
  width: 100px;
  height: 100px;
  z-index: 9999;
  transition-delay: 1s;
}

#flying-boy-appearance-trigger {
  position: absolute;
  width: 1px;
  height: 1px;
  top: 500px;
  left: 0;
}

.hidden {
  display: none;
}

.modal {
  display: block;

  /* Probably need media queries here */
  width: 80%;
  max-width: 100%;

  height: 80%;
  max-height: 100%;

  position: fixed;

  z-index: 100;

  left: 50%;
  top: 50%;

  transform: translate(-50%, -50%);

  /* If known, negative margins are probably better (less chance of blurry text). */
  /* margin: -200px 0 0 -200px; */

  background: white;
  box-shadow: 0 0 60px 10px rgba(0, 0, 0, 0.9);
  z-index: 9999;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 50;
  cursor: pointer;
  background: rgba(0, 0, 0, 0.6);
  z-index: 9997;
}

.modal-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  padding: 20px 50px;
  text-align: justify;
  font-size: 18px;
}

.modal strong {
  color: inherit;
  font-size: inherit;
}

.modal ul {
  display: inherit;
}

.modal li {
  display: list-item;
  list-style: inherit;
  line-height: 2;
}

.modal em {
  display: block;
  margin: 50px 0;
}

.closed {
  display: none;
}

.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

@media (max-width: 414px) {
  body {
    padding-top: 8vw;
  }

  nav {
    display: none;
  }

  header {
    padding-bottom: 8vw;
  }

  #title {
    height: 25vw;
  }

  #title svg {
    width: 80vw;
  }

  #hero-container {
    height: 60vw;
  }

  #hero-img {
    width: 80vw;
    height: 80vw;
    margin-top: -16vw;
  }

  #subtitle {
    font-size: 5vw;
  }

  h3 {
    font-size: 3vw;
  }

  section {
    padding: 8vh 0;
  }

  section p {
    margin-bottom: 0;
  }

  .content {
    font-size: 3vw;
    margin: 0 45px;
    padding: 0 !important;
  }

  .content h2 {
    font-size: 3vw;
  }

  a.button {
    font-size: 4vw;
    margin: 3vh 0;
    line-height: 8vw;
    height: 8vw;
    width: 40vw;
  }

  #subscribe {
    padding: 10px 20px;
    margin: 0;
  }

  #subscribe form {
    margin: 10px 0;
  }

  #subscribe a.button {
    line-height: 8vw;
    width: 100%;
    height: 8vw;
  }

  form {
    display: block;
  }

  input {
    margin: 3vw 0;
  }

  input[type="email"] {
    font-size: 4vw;
    height: 8vw;
    width: 100%;
  }

  strong {
    font-size: 5vw;
  }

  .layer {
    padding: 10px 20px;
  }

  .quote {
    font-size: 5vw;
  }

  .about .quote:first-child {
    margin-right: 0;
  }

  .contact-item {
    line-height: 5vh;
    margin: 2vh 0;
    width: 50vw;
  }

  .contact-item img {
    margin-right: 2vw;
    width: 5vh;
    height: 5vh;
  }

  #method::after,
  #progress::after,
  #about-us::after {
    bottom: -8vh;
    width: 16vh;
    height: 16vh;
    background-size: 16vh 16vh;
  }

  #flying-boy {
    left: 5px;
    width: 35px;
    height: 35px;
  }
}
