* {
  box-sizing: border-box;
}

html {
  background-color: #00283B;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  padding-top: 60px;
  position: relative;
}

body::after {
  content: "";
  background-image: url('../img/bg1.png');
  background-repeat: repeat;
  background-attachment: fixed;
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -100;  
}

main {
}

main::after {
  content: "";
  background-color: #0009;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -90;  
}

/* Navigation */

nav {
  background-color: #43AA8B;
  box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.5);
  display: flex;
  padding: 10px 0;
  height: 60px;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 9999;
}

#logo {
  display: inline-block;
  width: 20%;
  text-align: center;
}

#logo img {
  max-width: 100px;
  height: 250%;
}

nav ul {
  padding: 0;
  width: 60%;
  text-align: center;
  margin: 0;
  display: flex;
  justify-content: space-between;
}

ul, li {
  display: inline-block;
}

li {
  list-style: none;
  line-height: 40px;
}

a {
  text-decoration: none;
}

nav a {
  color: white;
  font-size: 1.5em;
  /* color: #0D4383; */
  text-shadow: rgba(0,0,0,0.3) 1px 2px;
}


/* Header */

header {
  padding-bottom: 100px;
}

.glass {
  background-color: #FFFFFF22;
  width: 100%;
  height: 100%;
  padding-bottom: 100px;
}

header {
  /* background: url("../img/space-bg1.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: top; */
}

header * {
  margin: 0 auto;
  text-align: center;
}

header textPath {
  font-size: 3em;
  /* font-family: 'Underdog', cursive; */
  font-family: 'Ruslan Display', cursive;
  text-shadow: rgba(255,255,255,0.15) 10px 10px 0px;
}

header text {
  fill: #43AA8B;
}

@keyframes rotateImg {
  0% {
    transform: translateX(-200%) rotate(0);
  }
  100% {
    transform: translateX(0) rotate(360deg);
  }
}

@keyframes floatImg {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}

#hero-container {
  height: 500px;
}

#hero-img {
  animation: floatImg 2s infinite linear;
  background: url("../img/hero-draft2.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 325px;
  height: 500px;
  margin-top: -70px;
}

path {
  fill: transparent;
}

#title {
  height: 236px;
  overflow: hidden;
}

#title svg {
  width: 800px;
}

header h2 {
  font-family: 'Ruslan Display', cursive;
  color: #43AA8B;
  margin-top: 30px;
  text-shadow: rgba(255,255,255,0.15) 2px 2px 0px;
}

/* Sections */

section {
  /* height: 600px; */
  padding: 100px 10%;
  font-size: 1.5em;
  position: relative;
  background-image: url('../img/bg1.png');
  background-repeat: repeat;
  background-attachment: fixed;
}

section::after {
  content: "";
  background-repeat: no-repeat;
  background-size: 50em 50em;
  opacity: 1;
  position: absolute;
  z-index: 1; 
}

.content {
  color: white;
  padding: 50px;
  font-size: 26px;
  line-height: 42px;
  position: relative;
  z-index: 1000;
}

.content h2 {
  color: white;
  font-size: 64px;
  font-weight: 300;
  text-transform: uppercase;
}

section p {
  font-weight: 300;
  margin-bottom: 20px;
  text-align: justify;
}

/* Idea */

#idea {
  background-color: #F8961E;
  color: white;
}

#idea::after {
  left: 0;
  bottom: -10em;
  width: 20em;
  height: 20em; 
  background-size: 20em 20em;
  background-image: url('../img/planet1_big.png');
}

#progress {
  background-color: #90BE6D;
  color: white;
}

#progress::after {
  bottom: -12em;
  right: 0;
  width: 20em;
  height: 20em;
  background-size: 20em 20em;
  background-image: url('../img/planet2_big.png');
  background-position: center;
}

#about-us {
  background-color: #F9C74F;
  color: white;
}

#contact {
  background-color: #F94144;
}

/* Footer */
footer {
  height: 50px;
}

/* Flying boy */

#flying-boy {
  position: fixed;
  top: 50%;
  left: 8%;
  animation: floatImg 2s infinite linear;
  background: url("../img/hero-draft2.png");
  background-size: contain;
  background-repeat: no-repeat;
  opacity: 1;
  width: 65px;
  height: 100px;
  z-index: 9999;
}

#flying-boy-appearance-trigger {
  position: absolute;
  width: 1px;
  height: 1px;
  top: 500px;
  left: 0;
}

.hidden {
  display: none;
}